body{
     background-color: #333;
}

header nav img{
     width: 50px;
}

header nav a{
     color: black !important;
}

.container{
     background-color: #ddd;
}

hr{
     height: 7px;
     background: linear-gradient(to right, #ce0380 0%, #a409cb 50%, #af000f 100%);
     width: 80%;
     margin: 0 auto ;
}

strong{
     color: #ce0380;
}

img:not(img[src="assets/img/logo.png"]){
     box-shadow: 0 0 13px 16px rgba(0, 0, 0, .1);
}

h6{
     color: cornflowerblue;
     margin-bottom: 20px !important;
     font-size: 1.1rem;
}

em{
     color: darkslategrey;
}